<!DOCTYPE html>
{% load bootstrap3 %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网站首页</title> 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% block bootstrap3_extra_head %}{% endblock %}
</head>

<body>

{% block bootstrap3_content %}
django-bootstrap3 template content
<div class="container">
    <h1>{% block title %}(no title){% endblock %}</h1>
    <p>
    <a href="">home</a>
    <a href="">formset</a>
    <a href="">form</a>
    <a href="">form_by_field</a>
    <a href="">form_horizontal</a>
    <a href="">form_inline</a>
    <a href="">form_with_files</a>
    <a href="">pagination</a>
    <a href="">miscellaneous</a>
    </p>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}(no content){% endblock %}
</div>
{% endblock %}

{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
{% block bootstrap3_extra_script %}{% endblock %}
</body>
</html>
